anticaptchaofficial==1.0.43
beautifulsoup4==4.11.1
colorama==0.4.5
console==0.9907
numerize==0.12
pywin32==304
random_user_agent==1.0.1
requests==2.27.1
rsa==4.9
setuptools==63.2.0
six==1.16.0
TwoCaptcha==0.0.1